#museums-filter-type, #museums-filter-loc {
    width: 90%;
}

#filtered-museums {
    width: 75%;
}

.get-filter {
    margin-left: 13%;
}

#add-filter {    
    margin-top: 0.5rem;
    background-color: rgb(51, 65, 190);
    border-radius: 0.3rem;
    font-weight: bold;
    color: white;
    border:none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 3px;
}