.list-item{
    text-align: left;
    list-style-type: none;
    margin-right:40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 2px;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 3px;
}

.container {
    background:rgba(189, 218, 238, 0.6);
    width: fit-content;
    margin: 0 auto;
    text-align: left;
    margin-top: 30px;
    padding: 20px;
    border-radius: 3px;
}

label{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.icon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    cursor: pointer;

}

.submitEdit {
    margin-top: 0.5rem;
    background-color: rgb(142, 204, 142);
    border-radius: 0.3rem;
    font-weight: bold;
    border:1.5px solid  rgb(114, 152, 114);
}

.inputEdit {
    width: 80%;
    justify-self: center;
}

.info {
    border: none;
    background: rgba(255, 255, 255, 0);
    text-decoration: underline;
}

h5 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(24, 78, 179);
    padding-top: 8px;
    padding-bottom: 5px;
    font-weight: bold;
}
