.addbutton, .recommend {
    margin-top: 0.5rem;
    background-color: rgb(142, 204, 142);
    border-radius: 0.3rem;
    font-weight: bold;
    border:1.5px solid  rgb(114, 152, 114);
}

button.recommend{
    background-color: rgb(227, 95, 78);
    margin-left: 0.5rem;
    border:none;
    font-size: 0.8rem;
    border:1px solid  rgb(175, 70, 57);
}

#berlin-list {
    width: 250px;
}